
$font-Open: 'Open Sans', sans-serif;
$font-Poppins: 'Poppins', sans-serif;
$title-color: #2f281e;
$brown-color: #544837;
$cherry-color:#FF7549;
$clr-secondary: #ff9900;
$color-white: #fff;
$color-blue:#BCD0E5;;
$color-bg: #FFEEE1;
$font-size-15px:15px;
$fz-16px: 16px;
$fz-44px: 44px;
$fz-18px: 18px;
$fz-34px: 34px;
$fz-22px: 22px;
$fz-13px: 13px;
$fz-24px: 24px;
$fz-14px: 14px;
$fz-25px: 25px;
$fz-20px: 20px;



