

.footer{
    position: fixed;
   width: 100%;
    bottom: 0;

}

.footer__wrapper{ 
  display: flex;
justify-content: space-between;
margin: 1rem 8%;
}

.footer__title{
    font-family: 'Open Sans';
font-weight: 600;
color: $title-color;
line-height: 30px;
font-size: $fz-20px;
margin-bottom: 15px;
}
.footer__list{
    font-family: 'Poppins';
font-weight: 400;
font-size: $fz-16px;
line-height: 35px;

}
.footer__list a:hover{
    border-bottom: 3px solid #019fb6; 
}
.footer__list-color{
    color: $clr-secondary;
}
