.footer {
  width: 100%;
  height: 315px;
  padding: 58px 0 52px;
  bottom: 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
}

.footer__title {
  font-family: "Open Sans";
  font-weight: 600;
  color: $title-color;
  line-height: 30px;
  font-size: $fz-20px;
  margin-bottom: 15px;
}
.footer__list {
  font-family: "Poppins";
  font-weight: 400;
  font-size: $fz-16px;
  line-height: 35px;
}
.footer__list a:hover {
  color: $clr-secondary;
}
.footer__list-color {
  color: $clr-secondary;
}

//  footer

.footer__list {
  list-style: none;
}
.footer__list li a {
  text-decoration: none;
  color: $brown-color;
}

@media (max-width: 1024px) {
  .footer {
    &__wrapper {
      display: block;
    }
    &__menu {
      margin-top: 34px;
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    &__menu {
      display: block;
    }
  }
}

// @media (min-width: 768px) {
// }

// @media (min-width: 992px) {
// }

// @media (min-width: 1200px) {
// }
