.header {
  background-color: #fff;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 24px 120px 26px;
    padding: 1.5rem 0;
  }
  &__logo {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 2;
    &-btn {
      // border: 1px solid $clr-secondary;
      border: none;
      background-color: transparent;
      display: none;
      cursor: pointer;
      i {
        font-size: 35px;
        padding: 15px;
        color: $clr-secondary;
      }
    }
  }

  .header__menu {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    &-links {
      display: flex;
      gap: 50px;
    }
    &-link {
      color: $title-color;
      transition: all 0.3s linear;
      &:hover {
        color: $clr-secondary;
      }
    }
  }
  &__buttons {
    display: flex;
  }
  &__button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: $fz-16px;
    line-height: 22px;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    margin-right: 14px;
    cursor: pointer;
    transition: 0.2s linear;
    &--blue {
      border: 1px solid #bcd0e5;
      &:hover {
        background-color: $color-blue;
      }
    }

    &--orange {
      border: 1px solid $clr-secondary;
      background-color: $clr-secondary;
      color: $color-white;
      &:hover {
        background-color: $color-white;
        color: $clr-secondary;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__nav {
      display: none;
      &-btn {
        display: block;
      }
    }
  }
}

@media (max-width: 320px) {
  .header__logo {
    img {
      width: 80%;
    }
  }
}

// @media (min-width: 768px) {
// }

// @media (min-width: 992px) {
// }

// @media (min-width: 1200px) {
// }
