* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 90vw;
  height: 78px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.footer {
  position: fixed;
  width: 100%;
  height: 315px;
  padding: 58px 0 52px;
  bottom: 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-family: "Open Sans";
  font-weight: 600;
  color: #2f281e;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer__list {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
}

.footer__list a:hover {
  border-bottom: 3px solid #019fb6;
}

.footer__list-color {
  color: #ff9900;
}

.footer__list {
  list-style: none;
}

.footer__list li a {
  text-decoration: none;
  color: #544837;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}
.header .header__menu {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}
.header .header__menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.header .header__menu-link {
  color: #2f281e;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header .header__menu-link:hover {
  color: #ff9900;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  margin-right: 14px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.header__button--blue {
  border: 1px solid #bcd0e5;
}
.header__button--orange {
  border: 1px solid #ff9900;
  background-color: #ff9900;
  color: #fff;
}
.header__button--orange:hover {
  background-color: #fff;
  color: #ff9900;
}